body{
    background-color: lightpink;
}
.hobbies {
    background-color: black;
    color: white;
    text-align: center;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    
}

#header_top {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    color: black;
}

#header_top img {
    height: 1.5rem;
}

#nav_links {
    display: flex;
    gap: 3rem;
}

#nav_links a {
    color: #454545;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
}

#nav_links a:hover {
    text-decoration: underline;
    color: orange;
}


@media only screen and (max-width: 600px) {
    nav {
        padding: 1.2rem 0;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }

    #header_top span {
        font-size: 1.3rem;
    }

    #nav-links a {
        font-size: 0.9rem;
        
    }

    #nav_links a:hover {
        text-decoration: underline;
        color: orange;
    }
}

#hobbies-id {
    font-size: 30px;
}

.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }

  @media only screen and (max-width: 600px) {
    .slider {
        max-width: 100%;
    }
}

.footer-links ul {
    list-style: none;
    padding: 6px;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
  }

  .footer-links a:hover {
    color: #fff;
    text-decoration: underline;
  }

  footer {
    background-color: black;
  }
  .container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
  }
  .footer-logo {
    font-size: 40px;
    color: white;
  }

  .footer-text{
    font-size: 25px;
    color: white;
  }
